<%- include("./partials/header", {loggedIn : false}) %>
<div class="container mt-5" style="display: flex; justify-content: center;">
	<div style="display: flex; flex-direction: column; align-items: center; width: 50%;">
		<a href="/user" class="btn btn-block btn-info mb-2">Resident Portal</a>
		<a href="#" class="btn btn-block btn-info mb-2">Security Portal</a>
		<a href="#" class="btn btn-block btn-info mb-2">Admin Portal</a>
	</div>
</div>
<%- include("./partials/footer") %>
