<%- include("../partials/header", {loggedIn : true}) %>
<div class="container mt-5">
	<div class="row" style="width: 100%; display: flex; justify-content: center; margin: 0;">
		<div class="col-12 col-md-5">
			<a href="/user/dom_help" class="btn btn-block btn-info mb-2">Domestic Help Management</a>
			<a href="/user/visitor" class="btn btn-block btn-info mb-2">Visitor Management</a>
		</div>
	</div>
</div>
<%- include("../partials/footer") %>
