<%- include("../../partials/header", {loggedIn : true}) %>

<div class="container">
	<div class="mt-5">
		<p class="text-primary" style="font-size: 1.3rem;">Past Visitor Records</p>
		<table class="table table-hover table-active">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Govt. Id</th>
					<th scope="col">Name</th>
					<th scope="col">Expec. Entry</th>
					<th scope="col">Expec. Exit</th>
					<th scope="col">OTP</th>
				</tr>
			</thead>
			<tbody>
				<% dataObject.forEach((eachEntry) => { %>
				<tr>
					<th scope="row"><%= eachEntry.name%></th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>@mdo</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
		<div style="display: flex; justify-content: flex-end;" class="mt-4">
			<a href="/user" class="btn btn-info mr-3">Go Back</a>
			<a href="/user/visitor/new" class="btn btn-success">Request New Visitor</a>
		</div>
	</div>
</div>
<%- include("../../partials/footer") %>
