<%- include("../../partials/header_admin", {loggedIn : true}) %>
<div class="container">
	<div class="row" style="align-items: center; flex-direction: column;">
		<div class="col-md-10 border border-primary pt-4 pb-4 pr-3 pl-3 mt-5">
			<form action="/admin/dom_help" method="POST">
				<div style="display: flex;" class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label for="fullName">Full Name</label>
							<input type="text" class="form-control" id="fullName" placeholder="Name" name="new[name]" required />
						</div>
						<div class="form-group">
							<label for="aadharNumber">Aadhar Number</label>
							<input type="text" class="form-control" id="aadharNumber" placeholder="Aadhar Number" name="new[aadharNo]" required pattern="[0-9]{12}" />
							<small class="form-text text-muted ml-1">Please Enter 12 digit Aadhar Number.</small>
						</div>
						<div class="form-group">
							<label for="address">Address</label>
							<textarea class="form-control" id="address" rows="3" placeholder="Complete Address" name="new[address]" required></textarea>
						</div>
						<div class="form-group mb-4">
							<label for="phoneNumber">Phone Number</label>
							<input type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" name="new[phoneNo]" pattern="[0-9]{10}" />
							<small class="form-text text-muted ml-1">Please Enter 10 digit Phone Number.</small>
						</div>
					</div>
					<div class="col-md-4 p-2">
						<input id="dom_helpImage" type="file" name="cover" class="filepond" required />
						<div style="display: flex; flex-direction: column; align-items: center;">
							<label for="dom_helpImage">Upload Domestic Help Image</label>
							<small id="dom_helpImage" class="form-text text-muted">The image should be smaller than 4 MB</small>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="/admin/dom_help" class="btn btn-success">Go Back</a>
			</form>
		</div>
	</div>
</div>
<%- include("../../partials/footer")%>
