<%- include("../../partials/header", {loggedIn : true}) %>
<div class="container">
	<div class="row" style="display: flex; justify-content: center;">
		<div class="col-md-4">
			<div class="p-3 pb-4 mt-5" style="border: 1px solid rgba(0, 0, 0, 0.1); background-color: #e4e4e4;">
				<h1 class="display-5 mb-4 text-center" style="font-weight: 100; font-size: 2.2rem;">Register Domestic Help</h1>
				<form action="/user/dom_help/new" method="POST" style="width: 100%;">
					<div class="form-group">
						<input type="text" name="id" placeholder="Domestic Help Id" class="form-control" required />
					</div>

					<button type="submit" class="btn btn-block btn-success">
						Register
					</button>
					<a href="/user/dom_help" class="btn btn-block btn-info">Go Back</a>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include("../../partials/footer") %>
